In [8]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

dir_path = os.getcwd()
plt.style.use("bmh")

In [59]:
etfs_df = pd.read_csv(os.path.join(dir_path, "data", "inputs", "etfs_full.csv"))
etfs_df["date"] = pd.to_datetime(etfs_df["date"])
etfs_df.set_index("date", inplace=True)
etfs_df = etfs_df.resample("D").last().ffill()

features = pd.read_csv(os.path.join(dir_path, "data", "inputs", "fredmd_transf_df.csv"))
features["date"] = pd.to_datetime(features["date"])
features.set_index("date", inplace=True)

merge_df = pd.merge(etfs_df.loc["2010-01-01":, :].dropna(axis=1, how="any"), features, how="left", left_index=True, right_index=True)
merge_df

,SPY,XLI,XLE,XLK,XLV,XLU,XLF,XLY,XLP,XLB,...,CUSR0000SAC,CUSR0000SAD,CUSR0000SAS,CPIULFSL,CUSR0000SA0L2,CUSR0000SA0L5,PCEPI,DDURRG3M086SBEA,DNDGRG3M086SBEA,DSERRG3M086SBEA
date,,,,,,,,,,,,,,,,,,,,,
2010-01-01,111.44,27.79,57.01,22.93,31.07,31.02,11.6930,29.77,26.47,32.99,...,0.004413,0.004091,-0.001738,0.000299,0.003212,0.000397,0.002184,-0.001284,0.003983,0.002112
2010-01-02,111.44,27.79,57.01,22.93,31.07,31.02,11.6930,29.77,26.47,32.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-03,111.44,27.79,57.01,22.93,31.07,31.02,11.6930,29.77,26.47,32.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-04,113.33,28.32,58.81,23.27,31.61,31.08,11.9285,30.00,26.67,34.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,113.63,28.42,59.29,23.24,31.30,30.71,12.1478,30.11,26.68,34.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-24,412.63,100.85,86.28,147.11,135.05,69.97,33.1400,147.35,76.88,81.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-25,406.08,98.99,84.66,143.97,133.61,69.90,32.5700,144.43,76.78,79.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-26,404.36,97.12,83.53,146.11,131.71,68.26,32.2600,143.69,76.18,78.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-27,412.41,99.04,83.83,149.21,132.40,69.08,32.7800,147.48,77.03,79.62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-28,415.93,100.00,85.13,150.83,133.53,68.98,33.1700,147.86,77.44,80.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
merge_df.dropna()

,SPY,XLI,XLE,XLK,XLV,XLU,XLF,XLY,XLP,XLB,...,CUSR0000SAC,CUSR0000SAD,CUSR0000SAS,CPIULFSL,CUSR0000SA0L2,CUSR0000SA0L5,PCEPI,DDURRG3M086SBEA,DNDGRG3M086SBEA,DSERRG3M086SBEA
date,,,,,,,,,,,,,,,,,,,,,
2010-01-01,111.4400,27.79,57.01,22.930,31.07,31.02,11.6930,29.77,26.47,32.99,...,0.004413,0.004091,-0.001738,0.000299,0.003212,0.000397,0.002184,-0.001284,0.003983,0.002112
2010-02-01,109.0600,27.79,56.30,21.200,31.46,29.72,11.7093,29.28,26.40,31.34,...,-0.003179,-0.001099,0.000527,-0.001151,-0.001333,-0.001305,-0.000031,-0.003551,-0.002218,0.001206
2010-03-01,111.8900,29.22,56.66,21.970,31.70,29.56,11.9529,31.00,27.22,31.98,...,-0.001056,-0.001145,0.001430,0.000064,0.000645,0.000100,0.001415,-0.001435,-0.000044,0.002325
2010-04-01,117.8000,31.44,58.54,23.060,32.31,30.07,13.0572,33.07,28.11,34.51,...,-0.001511,-0.002564,0.001267,0.000106,0.000250,0.000081,0.000544,-0.003841,-0.000730,0.001620
2010-05-01,118.8125,32.57,59.91,23.389,30.88,30.44,13.1214,34.82,27.63,33.99,...,-0.002920,-0.001716,0.000997,-0.000691,-0.001083,-0.000646,0.000314,-0.002732,-0.002924,0.001826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-01,409.5900,94.12,88.62,140.030,130.33,74.21,34.9000,152.93,73.50,85.17,...,0.018105,0.004665,0.007818,0.012089,0.014690,0.012330,0.009861,0.007153,0.021173,0.006597
2022-07-01,381.2400,88.10,72.58,127.410,129.68,71.85,31.8800,140.01,73.22,74.12,...,-0.006158,0.003295,0.003632,-0.002069,-0.003218,-0.000754,-0.000932,-0.002165,-0.005561,0.000872
2022-08-01,410.7700,95.74,76.80,143.910,131.42,74.03,33.4300,163.64,75.42,77.50,...,-0.004755,0.003005,0.006746,0.001421,0.000255,0.002013,0.002679,0.004809,-0.008099,0.005841
2022-09-01,396.4200,93.06,78.52,134.600,126.81,75.41,33.1500,156.93,73.52,74.42,...,-0.001806,-0.001200,0.007886,0.003543,0.002526,0.003887,0.003437,0.004459,-0.004180,0.005732
2022-10-01,357.1800,82.84,72.02,118.780,121.11,65.51,30.3600,142.45,66.73,68.01,...,0.005658,-0.006425,0.004330,0.004571,0.003748,0.005603,0.004115,-0.003914,0.008315,0.004255

In [62]:
merge_df.to_csv(os.path.join(dir_path, "data", "inputs", "2010_etfs_macro.csv"), index=True)